<% content_for :title, "O nas" %>

<div class="jumbotron">
<h1>O nas</h1>

<p>
Początki firmy Glocar sięgają wczesnych lat 80-tych, została założona przez Jana Głowińskiego, który prowadzi firmę do dnia dzisiejszego. Od pierwszych dni działalności firma bardzo bliska związana byłą z motoryzacją. Powstały przy ul. Luboszyckiej serwis ogumienia rozwijano i wprowadzano pierwszy w Opolu szybki serwis wymiany oleju. Wychodząc naprzeciw wciąż rosnącym wymaganiom klienta i chcąc w związku z tym poszerzyć wachlarz oferowanych usług motoryzacyjnych w 2002 roku wybudowano największy i najbardziej nowoczesny szybki serwis samochodowy w mieście. Obiekt wyposażony jest w osiem stanowisk roboczych w tym 4 stanowiska przeznaczone do profesjonalnej obsługi opon samochodów osobowych, dostawczych i ciężarowych. Wraz z oddaniem budynku i zakupem specjalistycznych urządzeń, stopniowo rozpoczęto rozszerzać zakres działalności.
</p>
<p>
Od 2007 roku firma należy do ogólnoeuropejskiej sieci PREMIO. Dzięki nowocześnie wyposażonym stanowiskom serwisowym i wyjątkowemu przeszkoleniu personelu firma Glocar Auto Serwis, od samego początku stała się profesjonalnym doradcą w kompleksowej tematyce opon, felg oraz pozostałych elementów jezdnych i serwisu mechanicznego. Nadrzędnym celem Premio Opony – Serwis jest 100 procentowe zadowolenie klienta. Dowodem na wysoki poziom usług świadczonych przez Glocar Auto Serwis jest pokaźna grupa stałych klientów oraz sukcesywnie zwiększająca się liczba nowych, którym usługi firmy zostały polecone przez ich zadowolonych znajomych. Nowoczesny serwis z przestronnym salonem obsługi klienta oraz wieloletnie doświadczenie wysoko wykwalifikowanych pracowników budzi zaufanie, a klienci bez obaw powierzają nam swoje samochody do kompleksowej obsługi nie tracąc czasu na wykonywanie usług w kilku różnych serwisach.  
</p>
<p>
Wszystkie nasze serwisy oferują profesjonalną obsługę opon samochodów osobowych, dostawczych, maszyn budowlanych oraz ciężarowych. Oferujemy również wymianę oleju silnikowego największych producentów olejów na świecie (typu: Castrol, Mobil, ELF, RESPOL) oraz płynów eksploatacyjnych. Obecnie w magazynie dysponujemy ponad 1000 referencji filtrów olejowych, powietrznych, paliwowych i pyłkowych.  
</p>


<%= render 'layouts/links' %>
</div>
