<% content_for :title, "About us" %>

<div class="jumbotron">
<h1>About us</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec quam quam. In dapibus vestibulum sollicitudin. Aenean at tellus venenatis, venenatis ipsum quis, fringilla nisl. Nullam lectus arcu, pretium aliquam congue at, vehicula a nisl. Aliquam nec elit ipsum. Aliquam at consectetur quam. Nunc et hendrerit sem. Nunc quis dui turpis. Morbi vulputate nibh orci, elementum sagittis massa iaculis quis. Curabitur rutrum egestas dui, laoreet elementum justo interdum vel. Cras sed justo aliquam turpis lobortis facilisis non id eros. Fusce mattis nisl sit amet scelerisque vulputate. Nam aliquam diam leo, vitae rhoncus velit facilisis nec. Quisque vitae pretium mi. Morbi non massa non ex dapibus elementum vel sed magna. Nam iaculis nec lacus a ultricies.
</p>
<p>
Nunc porttitor volutpat eleifend. Quisque molestie lorem odio, eget hendrerit urna porta a. Pellentesque commodo convallis dictum. Aenean porta mi id diam elementum feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ac quam leo. Nullam magna orci, elementum et facilisis non, ultrices sit amet ligula.
</p>
<p>
Suspendisse hendrerit blandit facilisis. Donec nec dui lacus. Nullam eget finibus nibh, nec facilisis orci. Pellentesque id augue tellus. Maecenas gravida odio nulla, vitae volutpat felis faucibus vel. Donec iaculis aliquet ante, sit amet ornare augue posuere id. Proin aliquet at dui a pharetra. Cras nec sapien feugiat, tempor nisi vitae, iaculis sem. Quisque odio orci, imperdiet varius volutpat a, venenatis non arcu. In id arcu consequat mauris blandit condimentum. Morbi placerat diam at convallis eleifend. Proin mauris eros, efficitur nec placerat in, tristique id metus.
</p>
<p>
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis convallis euismod augue, in efficitur magna gravida et. Nulla dictum lectus a tincidunt lobortis. Vivamus tempor tempus metus, pellentesque mattis orci luctus quis. Quisque et iaculis elit. Nam vestibulum faucibus dui id rutrum. Maecenas consequat, neque a dignissim volutpat, nisl justo eleifend augue, sed vulputate tortor ligula at metus. In interdum sed ex in vehicula.
</p>
<p>
In ultricies ipsum sit amet enim laoreet, egestas viverra nisi euismod. Maecenas efficitur nunc nec tortor pretium rhoncus. Praesent iaculis nunc quis maximus facilisis. Nunc efficitur nunc non odio laoreet vulputate. Etiam convallis semper blandit. Aliquam tempor arcu tellus, et varius ex sagittis sed. Nam consequat in purus ac facilisis. Quisque condimentum, neque vitae sagittis placerat, diam tortor porta ex, nec pellentesque mauris elit eu orci. Sed et aliquam sem. Nulla vel bibendum sapien, sit amet mollis arcu. Maecenas eu magna ornare, porttitor erat faucibus, imperdiet quam. Fusce non lobortis risus. Quisque at lobortis purus. Quisque vel fringilla mi. Duis cursus, tellus at tristique efficitur, dolor sapien luctus lacus, quis malesuada arcu urna at ipsum.
</p>
</div>