<% content_for :title, "Our services" %>

<div class="jumbotron">
<h1>Our services</h1>
	<%= image_tag ("serwis.jpg"), :class => 'img-rounded img-responsive media-object', :alt => 'test alt' %>

  	<h4>Test</h4>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis vehicula pulvinar. Aliquam dapibus, risus vitae venenatis euismod, risus purus interdum metus, quis dapibus arcu odio in augue. Curabitur sit amet ultricies tellus. Nam est dui, pharetra et sollicitudin eget, gravida at orci. Nullam laoreet nec nibh eget vestibulum. Integer pulvinar vehicula est, at imperdiet nisi mollis ut. Nunc blandit dolor at turpis vulputate imperdiet. Quisque quis pretium purus, vitae ornare diam. Vivamus sodales sapien sed orci molestie, ut ornare velit condimentum. Aliquam a lectus ut lorem egestas faucibus. Donec tortor ipsum, accumsan sed leo quis, ultricies dictum risus. Proin egestas urna eget tristique commodo. Phasellus quis ligula tincidunt nibh commodo pharetra. Nam tristique lectus erat, eu ultrices purus dapibus at.</p>

<p>
Duis sed erat vel libero maximus mollis sit amet nec nunc. Nunc convallis volutpat mattis. Aliquam a tristique eros. Donec pharetra lorem et est porta bibendum. In sit amet dui posuere, finibus mauris non, tempor augue. Proin quis bibendum est, sed rutrum felis. Pellentesque quis nulla sit amet mi pretium blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc gravida tellus libero, et dapibus est tincidunt sed. Etiam vel arcu vitae tellus rhoncus sagittis at vel nisi. Vivamus elit neque, iaculis in gravida id, volutpat ac enim. Fusce ac condimentum urna, a vulputate leo. Fusce rutrum nisi quis est rhoncus, ut fringilla mi fermentum. Morbi vestibulum odio vel dolor lacinia, nec tristique ex ullamcorper. 
</p>

<%= render 'layouts/links' %>

</div>