<% content_for :title, "Prices" %>

<div class="jumbotron">
<h1>Prices</h1>
<p>
<span class="glyphicons glyphicons-ok-2"><Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis vehicula pulvinar.</span>
 Aliquam dapibus, risus vitae venenatis euismod, risus purus interdum metus, quis dapibus arcu odio in augue. Curabitur sit amet ultricies tellus. Nam est dui, pharetra et sollicitudin eget, gravida at orci. Nullam laoreet nec nibh eget vestibulum. Integer pulvinar vehicula est, at imperdiet nisi mollis ut. Nunc blandit dolor at turpis vulputate imperdiet. Quisque quis pretium purus, vitae ornare diam. Vivamus sodales sapien sed orci molestie, ut ornare velit condimentum. Aliquam a lectus ut lorem egestas faucibus. Donec tortor ipsum, accumsan sed leo quis, ultricies dictum risus. Proin egestas urna eget tristique commodo. Phasellus quis ligula tincidunt nibh commodo pharetra. Nam tristique lectus erat, eu ultrices purus dapibus at.
</p>

<%= render 'layouts/links' %>

</div>