<% content_for :title, "Prices" %>

<div class="jumbotron">
<h1>Prices</h1>

<p><span class="glyphicon glyphicon-ok-circle">price 1</span></p>
<p><span class="glyphicon glyphicon-ok-circle">price 2</span></p>
<p><span class="glyphicon glyphicon-ok-circle">price 3</span></p>
<p><span class="glyphicon glyphicon-ok-circle">price 4</span></p>
<p><span class="glyphicon glyphicon-ok-circle">price 5</span></p>
<p><span class="glyphicon glyphicon-ok-circle">price 6</span></p>

<%= render 'layouts/links' %>

</div>