<% content_for :title, "Our services" %>

<div class="jumbotron">
<h1>Where we are?</h1>

	<div class="embed-responsive embed-responsive-16by9">
  		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2527.049336406205!2d17.907279999999997!3d50.700469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710524fc70c71b3%3A0xbab017279045080b!2sGlocar!5e0!3m2!1spl!2spl!4v1433624725826" width="600" height="450" class="embed-responsive-item"></iframe>
  	</div>
  	
<%= render 'layouts/links' %>

</div>